---
layout: false
---
<h3>{{capitalizeFirst lang.companyList}}</h3>
<div ng-hide="isLoadedCompanyUserList">{{lang.loading}}...</div>
<div ng-show="isLoadedCompanyUserList">
    <ul ng-repeat="companyUser in companyUserList" class="list-group">
        <li class="list-group-item">
            <div class="clearfix">
                <div class="pull-left">
                    <img style="border:1px solid #ccc; width:100px" ng-src="{[{companyUser.CompanyDto.LogoUrl || '/img/question.jpg'}]}" />
                </div>
                <div class="pull-left" style="margin-left:16px">
                    <div class="clearfix">
                        <h5 class="pull-left">
                          <span ng-bind="companyUser.CompanyDto.Name"></span>:
                          <span style="font-weight:normal" ng-bind="companyUser.CompanyDto.Description"></span></h5>
                    </div>
                    <a ng-show="companyUser.AccessLevel | bitwiseand: accessLevelDict.CanViewAll.AccessCode" class="btn btn-default" href="/workspace/company/?cid={[{companyUser.CompanyDto.Id}]}">{{capitalizeFirst lang.toView}} {{lang.wfm}}</a>
                    <a ng-show="companyUser.AccessLevel | bitwiseand: accessLevelDict.CanEditAll.AccessCode" class="btn btn-default" href="/workspace/company/?cid={[{companyUser.CompanyDto.Id}]}&editable=true">{{capitalizeFirst lang.toEdit}} {{lang.wfm}}</a>
                    <a ng-show="companyUser.AccessLevel | bitwiseand: accessLevelDict.CanManageAll.AccessCode" class="btn btn-default" href="#/{[{companyUser.CompanyDto.Id}]}/manage/info">{{capitalizeFirst lang.toEdit}} {{lang.companyInfo}}</a>
                    <a ng-show="companyUser.AccessLevel | bitwiseand: accessLevelDict.CanManageAll.AccessCode" class="btn btn-default" href="#/{[{companyUser.CompanyDto.Id}]}/manage/user">{{capitalizeFirst lang.toEdit}} {{lang.companyUsers}}</a>
                </div>
            </div>
        </li>
    </ul>
    <div ng-hide="isOwnerAlready()">
        <a href="#/create">{{capitalizeFirst lang.toRegisterACompany}}</a>
    </div>
</div>