---
layout: false
---
<h3 class="text-center">{{capitalizeFirst lang.toRegisterACompany}}</h3>
<form name="companyCreateForm" class="form-horizontal" role="form">
    <div class="form-group" ng-class="{'has-error': companyCreateForm.Name.$invalid}">
        <label class="control-label col-sm-4">{{capitalizeFirst lang.companyName}}:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="Name" ng-model="companyNew.Name" required ng-minlength="5" ng-maxlength="255" />
        </div>
        <div class="col-sm-4">
            <span class="help-block" ng-show="companyCreateForm.Name.$error.required">*</span>
            <span class="help-block" ng-show="companyCreateForm.Name.$error.minlength">{{capitalizeFirst lang.minLength}}: 5</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': companyCreateForm.Description.$invalid}">
        <label class="control-label col-sm-4">{{capitalizeFirst lang.companyDescription}}:</label>
        <div class="col-sm-4">
            <textarea name="Description" rows="3" ng-model="companyNew.Description" ng-maxlength="800" class="form-control"></textarea>
        </div>
        <div class="col-sm-4">
            <span class="help-block" ng-show="companyCreateForm.Description.$error.maxlength">{{capitalizeFirst lang.maxLength}}: 800</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-4">
            <label class="checkbox">
                <input type="checkbox" ng-model="isAgree" name="Agree" required /> I agree to the <a target="_blank" href="/about/">{{lang.termsAndConditions}}</a>
            </label>
            <button class="btn btn-primary" ng-click="postCompany()" ng-disabled="companyCreateForm.$invalid || isPostSended">{{capitalizeFirst lang.toRegisterACompany}}</button>
            <a href="#" class="btn btn-default">{{capitalizeFirst lang.cancel}}</a>
        </div>
    </div>
    <div class="form-group has-error">
        <div class="col-sm-4 col-sm-offset-4">
            <span class="help-block" ng-bind="processError"></span>
        </div>
    </div>
</form>