---
page_title: <%= _.capitalize(lang.emailConfirmation) %>
---
<div class="wfm-content-pad">
    <h4 class="text-center">{{page_title}}</h4>
	<div class="text-center hide" id="confirmation-success">{{lang.success}} - <a href="{{syst.logonUrl}}{{conf.defPage}}">{{lang.signIn}}</a></div>
	<div class="text-center hide" id="confirmation-failure">{{lang.emailConfirmationIsUnsuccessful}}</div>
</div>