---
pageTitle: '<%= _.capitalize(lang.registration) %>'
rqrId: 'account-registration'
rootUrl: '../../'
---
<div class="wfm-content-pad hide" id="register-project-wrap">
    <div class="clearfix" ng-controller="RegisterCtrl">
        <div class="col-md-6 col-md-offset-1">
            <h3>{{pageTitle}}:</h3>
            <form class="form-horizontal" name="accountForm">
                <div class="form-group" ng-class="{'has-error': accountForm.Email.$invalid}">
                    <label class="control-label col-sm-2">{{capitalizeFirst lang.email}}</label>
                    <div class="col-sm-6">
                        <input type="email" name="Email" required autofocus class="form-control" ng-model="usver.Email" />
                    </div>
                    <div class="col-sm-4 has-error">
                        <span ng-show="accountForm.Email.$error.email" class="help-block">{{lang.wrongEmailFormat}}</span>
                        <span ng-show="accountForm.Email.$error.required" class="help-block">{{lang.required}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': accountForm.Password.$invalid}">
                    <label class="control-label col-sm-2">{{capitalizeFirst lang.password}}</label>
                    <div class="col-sm-6">
                        <input type="text" name="Password" required class="form-control" ng-model="usver.Password"
                               ng-minlength="{[{bound.password.minLength}]}" ng-maxlength="{[{bound.password.maxLength}]}" autocomplete="off" />
                    </div>
                    <div class="col-sm-4 has-error">
                        <span ng-show="accountForm.Password.$error.maxlength" class="help-block">{{lang.maxLength}}: <span ng-bind="bound.password.maxLength"></span></span>
                        <span ng-show="accountForm.Password.$error.minlength" class="help-block">{{lang.minLength}}: <span ng-bind="bound.password.minLength"></span></span>
                        <span ng-show="accountForm.Password.$error.required" class="help-block">{{lang.required}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': accountForm.PasswordConfirmation.$invalid}">
                    <label class="control-label col-sm-2">{{capitalizeFirst lang.passwordConfirmation}}</label>
                    <div class="col-sm-6">
                        <input type="text" name="PasswordConfirmation" required class="form-control" ng-model="usver.PasswordConfirmation"
                               ng-minlength="{[{bound.password.minLength}]}" ng-maxlength="{[{bound.password.maxLength}]}" autocomplete="off" />
                    </div>
                    <div class="col-sm-4 has-error">
                        <span ng-show="accountForm.PasswordConfirmation.$error.maxlength" class="help-block">{{lang.maxLength}}: <span ng-bind="bound.password.maxLength"></span></span>
                        <span ng-show="accountForm.PasswordConfirmation.$error.minlength" class="help-block">{{lang.minLength}}: <span ng-bind="bound.password.minLength"></span></span>
                        <span ng-show="accountForm.PasswordConfirmation.$error.required" class="help-block">{{lang.required}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button ng-click="tryRegister()" ng-disabled="accountForm.$invalid || !isProcessBtnEnabled" class="btn btn-primary">{{capitalizeFirst lang.toRegister}}</button>
                    </div>
                    <div class="col-sm-8 has-error">
                        <span class="help-block" ng-bind="processError"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
			<h3>{{capitalizeFirst lang.steps}}:</h3>
            <ul class="list-unstyled text-center">
                <li class="well well-sm text-center">
                    <div class="step-1"></div>
                    <div>{{capitalizeFirst lang.emailConfirmation}}</div>
                </li>
                <li class="well well-sm text-center">
                    <div class="step-2"></div>
                    <div>{{capitalizeFirst lang.companyInfo}}</div>
                </li>
                <li class="well well-sm text-center">
                    <div class="step-3"></div>
                    <div>{{capitalizeFirst lang.toUse}} {{lang.wellFileManager}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
