---
pageTitle: '<%= _.capitalize(lang.signIn) %>'
rqrId: 'account-logon'
rootUrl: '../../'
---
<div class="wfm-content-pad hide" id="logon-project-wrap">
    <div class="clearfix" ng-controller="LogonCtrl">
        <div class="col-md-6 col-md-offset-1">
            <h3>{{pageTitle}} {{lang.or}} <a href="{{rootUrl}}{{syst.registerUrl}}{{conf.defPage}}">{{lang.toRegisterACompany}}</a>:</h3>
            <form class="form-horizontal" name="accountForm">
                <div class="form-group" ng-class="{'has-error': accountForm.Email.$invalid}">
                    <label class="control-label col-sm-2">{{capitalizeFirst lang.email}}</label>
                    <div class="col-sm-6">
                        <input type="email" name="Email" required autofocus class="form-control" ng-model="usver.Email" />
                    </div>
                    <div class="col-sm-4 has-error">
                        <span ng-show="accountForm.Email.$error.email" class="help-block">{{lang.wrongEmailFormat}}</span>
                        <span ng-show="accountForm.Email.$error.required" class="help-block">{{lang.required}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': accountForm.Password.$invalid}">
                    <label class="control-label col-sm-2">{{capitalizeFirst lang.password}}</label>
                    <div class="col-sm-6">
                        <input type="text" name="Password" required class="form-control" ng-model="usver.Password"
                               ng-minlength="{[{bound.password.minLength}]}" ng-maxlength="{[{bound.password.maxLength}]}" autocomplete="off" />
                    </div>
                    <div class="col-sm-4 has-error">
                        <span ng-show="accountForm.Password.$error.maxlength" class="help-block">{{lang.maxLength}}: <span ng-bind="bound.password.maxLength"></span></span>
                        <span ng-show="accountForm.Password.$error.minlength" class="help-block">{{lang.minLength}}: <span ng-bind="bound.password.minLength"></span></span>
                        <span ng-show="accountForm.Password.$error.required" class="help-block">{{lang.required}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-2">
                        <div class="checkbox">
                            <label>
                                <input name="RememberMe" type="checkbox" ng-model="usver.RememberMe" /> {{lang.rememberMeInThisBrowser}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button ng-click="tryAuth()" ng-disabled="accountForm.$invalid || !isProcessBtnEnabled" class="btn btn-primary">{{capitalizeFirst lang.signIn}}</button>
                    </div>
                    <div class="col-sm-8 has-error">
                        <span class="help-block" ng-bind="processError"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3>{{capitalizeFirst lang.demo}} {{lang.signIn}}:</h3>
            <div class="well text-center">
                <p>{{capitalizeFirst lang.demoWfmCaution}}</p>
                <button class="btn btn-primary" ng-disabled="!isTestLoginBtnEnabled" ng-click="testAuth()">{{capitalizeFirst lang.demo}} {{lang.signIn}}</button>
            </div>
        </div>
    </div>
</div>