---
page_title: <%= _.capitalize(lang.signIn) %>
---
<div class="wfm-content-pad" id="logon-project-wrap">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row" ng-controller="LogonCtrl">
                <h3>{{page_title}}:</h3>
                <form class="form-horizontal" name="logonForm">
                    <div class="form-group" ng-class="{'has-error': logonForm.Email.$invalid}">
                        <label class="control-label col-sm-2">{{capitalizeFirst lang.email}}</label>
                        <div class="col-sm-6">
                            <input type="text" name="Email" required autofocus class="form-control" ng-model="usver.Email" />
                        </div>
						<!-- TODO: add min and max limit -->
                        <div class="col-sm-4 has-error">
                            <span ng-show="logonForm.Email.$error.required" class="help-block">{{lang.required}}</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': logonForm.Password.$invalid}">
                        <label class="control-label col-sm-2">{{capitalizeFirst lang.password}}</label>
                        <div class="col-sm-6">
                            <input type="text" name="Password" required class="form-control" ng-model="usver.Password" autocomplete="off" />
                        </div>
                        <!-- TODO: add min and max limit -->
                        <div class="col-sm-4 has-error">
                            <span ng-show="logonForm.Password.$error.required" class="help-block">{{lang.required}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        <input name="RememberMe" type="checkbox" ng-model="usver.RememberMe" /> {{capitalizeFirst lang.rememberMe}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button ng-click="tryAuth()" ng-disabled="logonForm.$invalid || !isLoginBtnEnabled" class="btn btn-primary pull-right">{{capitalizeFirst lang.signIn}}</button>
                            </div>
                        </div>
                    </div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-2">

							</div>
							<div class="col-sm-6">
								<span ng-bind="loginError" style="color: red"></span>
							</div>
						</div>
					</div>
                </form>
                <h4>
                    or <a href="{{syst.register_url}}">register a new company</a>
                </h4>
            </div>
        </div>
    </div>
</div>