<ul class="nav navbar-nav navbar-right hide" id="logoff_block">
  <li>
    <a href="{{rootUrl}}{{syst.companyUrl}}{{conf.defPage}}">{{capitalizeFirst lang.companyList}}</a>
  </li>
  <li>
    <a href="{{rootUrl}}{{syst.logoffUrl}}{{conf.defPage}}">{{capitalizeFirst lang.logOut}}</a>
  </li>
</ul>