---
layout: false
---
<span ng-show="isLoadedList === false">{{lang.loading}}...</span>
<form name="wfmParameterForm" ng-show="isLoadedList">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit</th>
                <th>IsCumulative</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="wfmParameter in wfmParameterList | orderBy: 'Id'">
                <td><span ng-bind="wfmParameter.Id"></span></td>
                <td>
                    <span ng-hide="wfmParameter.isEditable" ng-bind="wfmParameter.Name"></span>
                    <input type="text" ng-model="wfmParameter.Name" ng-show="wfmParameter.isEditable" />
                </td>
                <td>
                    <span ng-hide="wfmParameter.isEditable" ng-bind="wfmParameter.Uom"></span>
                    <input type="text" ng-model="wfmParameter.Uom" ng-show="wfmParameter.isEditable" />
                </td>
                <td>
                    <span ng-hide="wfmParameter.isEditable" ng-bind="wfmParameter.IsCumulative"></span>
                    <input type="checkbox" ng-model="wfmParameter.IsCumulative" ng-show="wfmParameter.isEditable" />
                </td>
                <td>
                    <div ng-hide="wfmParameter.isEditable">
                        <button type="button" class="btn btn-sm btn-default" ng-click="turnEdit(wfmParameter, true)">{{capitalizeFirst lang.toEdit}}</button>
                        <button type="button" ng-hide="wfmParameter.IsSystem" class="btn btn-sm btn-default" ng-click="deleteWfmParameter(wfmParameter)">{{capitalizeFirst lang.toDelete}}</button>
                    </div>
                    <div ng-show="wfmParameter.isEditable">
                        <button type="button" class="btn btn-sm btn-default" ng-click="putWfmParameter(wfmParameter)">{{capitalizeFirst lang.toSave}}</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="turnEdit(wfmParameter, false)">{{capitalizeFirst lang.toCancel}}</button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><input ng-model="wfmParameterNew.Id" ng-pattern="/[a-zA-Z]{3,16}$/" ng-maxlength="16" ng-minlength="3" placeholder="a-z (from 3 to 16 symbols)" required type="text" /></td>
                <td><input ng-model="wfmParameterNew.Name" required type="text" /></td>
                <td><input ng-model="wfmParameterNew.Uom" type="text" /></td>
                <td><input ng-model="wfmParameterNew.IsCumulative" type="checkbox" /></td>
                <td><button type="button" class="btn btn-primary btn-sm" ng-click="postWfmParameter()" ng-disabled="wfmParameterForm.$invalid">Add parameter</button></td>
            </tr>
        </tfoot>
    </table>
</form>